body { background: #e7999c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 23px; display: flex; }
.block-shipping-0 { color: #87f180; font-size: 13px; margin-bottom: 5px; }
.block-helper-1 { color: #4953dd; font-size: 17px; margin-bottom: 5px; }
.block-invoice-2 { color: #bb0d84; font-size: 19px; margin-bottom: 5px; }
.block-cache-3 { color: #f0ff20; font-size: 14px; margin-bottom: 5px; }
.block-notify-4 { color: #250555; font-size: 18px; margin-bottom: 5px; }